nav.navbar.navbar-expand-lg.navbar-light.bg-success
   .container
      .text-center.text-sm-left
         a.logo.navbar-brand.text-light(href="/") 
            img(src="../images/logo.png")
            span Footbally
      button.navbar-toggler.navbar-toggler-right.bg-light(type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation")
         span.navbar-toggler-icon
      div#navbarNavAltMarkup.collapse.navbar-collapse.d-lg-flex.justify-content-end
         ul.navbar-nav.py-2
            li.nav-item
                  a.h4.nav-link.text-light(href="/login") Logowanie
            li.nav-item
                  a.h4.nav-link.text-light(href="/register") Rejestracja