nav.navbar.navbar-expand-md.col-12.col-md-2.border.border-sidenav.rounded-right.p-0.align-items-start.navbar-light
   button.navbar-toggler.toggler-sidenav.w-100.bg-success(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
      span.navbar-toggler-icon.sidenav-icon
   #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.d-flex.flex-column.w-100
         li.nav-item.border.border-bottom.border-sidenav.text-center.text-md-left
            a.nav-link.py-3(href="/") Klub
         li.nav-item.border.border-bottom.border-sidenav.text-center.text-md-left
            a.nav-link.py-3(href="/team") Drużyna
         li.nav-item.border.border-bottom.border-sidenav.text-center.text-md-left
            a.nav-link.py-3(href="/profile") Profil
         li.nav-item.border.border-bottom.border-sidenav.text-center.text-md-left
            a.nav-link.py-3(href="/logout") Wyloguj