doctype html
html
   include includes/head.pug
   body
      include includes/main_nav.pug
      .d-flex.main-container.align-items-center.justify-content-center
         .col-12.col-sm-10.col-md-8.col-lg-6.col-xl-4.col-no-gutter.my-md-5
            .card
               .card-header
                  h2.display-3.font-weight-bold.text-center 404
               .card-body.py-5
                  .text-center
                     img.col-8.col-sm-6.col-md-6.mb-5(src="../images/ball.png")
                     p.h3 Nie znaleziono strony
      include includes/foot.pug