extends main.pug

block card-header
   h2.text-center.mr-sm-auto.py-2.py-sm-0 #{clubName}
   if owner
      a.btn.btn-info.btn-lg.btn-block(href="/club/edit") Edytuj

block card-body
   ul.list-unstyled
      li Właściciel: #{username}
      li Stadion: #{arenaName}
      li Budżet: #{budget}$
      li Ilość zawodników: #{teamPlayers}
      li Data rejestracji: #{dateOfRegistration}