extends main.pug

block card-header
   h2.text-center.mr-sm-auto.py-2.py-sm-0 Edytuj
   a.btn.btn-danger.btn-lg.btn-block(href="/") Anuluj

block card-body
   .col-12.col-md-8.col-lg-6.col-xl-5.mb-5
      form#edited-profile(action="/club/edit" method="POST")
         .col
            .form-group
               label.h3(for="club-name") Nazwa drużyny:
               input#club-name.form-control.col-sm-12(type="text" name="clubName" value=`${clubName}` required)
               if (errors && errors.clubName)
                  small#clubNameErrorHelp.form-text.text-danger.font-italic #{errors.clubName.msg}
            .form-group
               label.h3(for="arena-name") Nazwa stadionu:
               input#arena-name.form-control.col-sm-12(type="text" name="arenaName" value=`${arenaName}` required)
               if (errors && errors.arenaName)
                  small#arenaNameErrorHelp.form-text.text-danger.font-italic #{errors.arenaName.msg}
            button.btn.btn-success.btn-lg.btn-block(type="submit") Zapisz