doctype html
html
   include includes/head.pug
   body
      include includes/nav.pug
      .d-flex.main-container.align-items-center.justify-content-center
         .col-12.col-sm-10.col-md-8.col-lg-6.col-xl-4.text-center
            .form-container.border.border-dark.rounded.px-3.py-5.my-5
               h1.mb-5 Logowanie
               form(action="/login" method="POST")
                  .form-group
                     label.h4(for="email") Email:
                     input#email.form-control(type="email" name="email")
                     if (errors && errors.email)
                        small#emailHelp.form-text.text-danger.font-italic #{errors.email.msg}
                  .form-group
                     label.h4(for="password") Hasło:
                     input#password.form-control(type="password" name="password")
                     if (errors && errors.password)
                        small#passwordHelp.form-text.text-danger.font-italic #{errors.password.msg}
                  if (invalidCredentials)
                     .alert.alert-danger #{invalidCredentials}
                  input.btn.btn-primary.btn-lg.btn-block.mt-4(type="submit" value="Zaloguj")
      include includes/foot.pug
      include includes/main-scripts.pug