doctype html
html
   include includes/head.pug
   body
      include includes/main_nav.pug
      .main-container.d-flex.align-items-start.align-items-md-center.flex-wrap.my-md-5
         .base-container.row.col-12.col-no-gutter.mx-0
            include includes/sidebar_nav.pug
            .col-12.col-md-10.col-xl-7.col-no-gutter
               .card.h-100
                  .card-header
                     .d-sm-flex.justify-content-sm-end.flex-sm-wrap
                        block card-header
                  .card-body
                     block card-body
      include includes/foot.pug
      include includes/main-scripts.pug
      block page-scripts