extends main.pug

block card-header
   h2.text-center.mr-sm-auto.py-2.py-sm-0 #{firstName} #{lastName}
   a.btn.btn-danger.btn-lg.btn-block(href=`/player/${id}`) Anuluj

block card-body
   .col-12.col-md-8.col-lg-6.col-xl-5.mb-5
      form#edited-player(action=`/player/${id}/edit` method="POST")
         .col
            .form-group
               label.h3(for="player-speech") #{firstName} mówi:
               textarea#player-speech.form-control.col-sm-12(name="speech" rows="10" maxlength="150" required) #{speech}
               if (errors && errors.speech)
                  small#speechErrorHelp.form-text.text-danger.font-italic #{errors.speech.msg}
            button.btn.btn-success.btn-lg.btn-block(type="submit") Zapisz