extends main.pug

block card-header
   h2.text-center.mr-sm-auto.py-2.py-sm-0 Rekrutacja
   a.btn.btn-danger.btn-lg.btn-block(href="/team") Anuluj

block card-body
   .row.justify-content-around.justify-content-md-start
      form.px-3.mb-5.mx-auto.mx-md-0(action="/team/newPlayer/generate", method="POST")
         .col
            .form-group.row.mx-auto.d-flex.justify-content-center
               label(for="nationality") Narodowość:
               select#nationality.custom-select.form-control-sm(name="nationality")
                  option(value="England") Anglia
                  option(value="France") Francja
                  option(value="Poland" selected) Polska
                  option(value="Italy") Włochy
            .form-group.row.mx-auto.d-flex.justify-content-center
               label(for="age") Wiek:
               select#age.custom-select.form-control-sm(name="age")
                  option(value="junior") junior (15-21 lat)
                  option(value="senior") senior (22+ lat)
            .form-group.row.mx-auto.d-flex.justify-content-center
               label(for="talentRate") Talent:
               select#talentRate.custom-select.form-control-sm(name="talentRate")
                  option(value="1") fatalny
                  option(value="2") kiepski
                  option(value="3") słaby
                  option(value="4" selected) przeciętny
                  option(value="5") dobry
                  option(value="6") znakomity
                  option(value="7") wspaniały
                  option(value="8") błyskotliwy
                  option(value="9") niesamowity
            .text-center
               button.btn.btn-primary.btn-lg.btn-block(type="submit") Generuj zawodnika
      if player
         .row.px-3
            .col
               ul.unstyled-list
                  li.nowrap Narodowość: #{player.nationality}
                  li.nowrap Wiek: #{player.age.years}l, #{player.age.months}m, #{player.age.days}d
                  li.nowrap Pozycja: #{player.positionCredentials.position}
                  li.nowrap Pensja: #{player.salary}$
                  li.nowrap Preferowana noga: #{player.preferedLeg}
            .col
               table.table.table-striped.border
                  thead.thead-inverse
                     tr
                        th Um
                        th Poz
                        th Pot
                  tbody
                     each value, skill in player.skills
                        if(value.current && value.potential)
                           tr
                              td= skill
                              td= value.current
                              td= value.potential
               form#generated-player.row(action="/team/newPlayer/save" method="POST")
                  .d-none
                     .form-group.row.mx-auto
                        label(for="generated-firstname") Imię:
                        input#generated-firstname.form-control-plaintext(type="text" name="firstName" value=`${player.firstName}` readonly)
                     .form-group.row.mx-auto
                        label(for="generated-lastname") Nazwisko:
                        input#generated-lastname.form-control-plaintext(type="text" name="lastName" value=`${player.lastName}` readonly)
                     .form-group.row.mx-auto
                        label(for="generated-nationality") Narodowość:
                        input#generated-nationality.form-control-plaintext(type="text" name="nationality" value=`${player.nationality}` readonly)
                     .form-group.row.mx-auto
                        label(for="generated-years") Wiek:
                        input#generated-years.form-control-plaintext(type="number" name="years" value=`${player.age.years}` readonly)
                        input#generated-months.form-control-plaintext.d-none(type="number" name="months" value=`${player.age.months}` readonly)
                        input#generated-days.form-control-plaintext.d-none(type="number" name="days" value=`${player.age.days}` readonly)
                     .form-group.row.mx-auto
                        label(for="generated-preferedLeg") Preferowana noga:
                        input#generated-preferedLeg.form-control-plaintext(type="text" name="preferedLeg" value=`${player.preferedLeg}` readonly)
                     .form-group.row.mx-auto
                        label(for="generated-position") Pozycja:
                        input#generated-position.form-control-plaintext(type="text" name="position" value=`${player.positionCredentials.position}` readonly)
                     .form-group.row.mx-auto
                        label(for="generated-skillsRate") Ocena:
                        input#generated-skillsRate.form-control-plaintext(type="number" name="skillsRate" value=`${player.skillsRate}` readonly)
                     .form-group.row.mx-auto
                        label(for="generated-talentRate") Talent:
                        input#generated-talentRate.form-control-plaintext(type="number" name="talentRate" value=`${player.talentRate}` readonly)
                     .form-group.row.d-none
                        label(for="generated-salary") Pensja:
                        input#generated-salary.form-control-plaintext(type="number" name="salary" value=`${player.salary}` readonly)
                  .d-none
                     each value, skill in player.skills
                        .form-group.row.mx-auto
                           label= skill + ':'
                           input.form-control-plaintext.skill(type="number" name=`current${skill}` value=`${value.current}` readonly)
                           input.form-control-plaintext.skill(type="number" name=`potential${skill}` value=`${value.potential}` readonly)
                  .text-center
                     button.btn.btn-lg.btn-block.btn-success(type="submit") Dodaj zawodnika