extends main.pug

block card-header
   h2.text-center.mr-sm-auto.py-2.py-sm-0 #{firstName} #{lastName}
   if owner
      a.btn.btn-info.btn-lg.btn-block.my-2.my-sm-0(href=`/player/${id}/edit`) Edytuj
      a#btn-delete.btn.btn-danger.btn-lg.btn-block.ml-sm-2(href=`/player/${id}/remove`) Zwolnij

block card-body
   .row.justify-content-around.justify-content-md-start
      .col.px-3.mb-5
         ul.unstyled-list
            li.nowrap Klub: #{clubName}
            li.nowrap Narodowość: #{nationality}
            li.nowrap Wiek: #{age.years}l, #{age.months}m, #{age.days}d
            li.nowrap Pozycja: #{position}
            li.nowrap Pensja: #{salary}$
            li.nowrap Preferowana noga: #{preferedLeg}
      .col.px-3.mb-5
         table.table.table-striped.border
            thead.thead-inverse
               tr
                  th Um
                  th Poz
                  th Pot
            tbody
               each value, skill in skills
                  if(value.current && value.potential)
                     tr
                        td= skill
                        td= value.current
                        td= value.potential
      .col.px-3.mb-5
         h3.nowrap #{firstName} mówi:
         p "#{speech}"

block page-scripts
   script(src="../../js/confirm.js")
