extends main.pug

block card-header
   h2.text-center.mr-sm-auto.py-2.py-sm-0 Edytuj profil
   a.btn.btn-danger.btn-lg.btn-block(href="/profile") Anuluj

block card-body
   .col-12.col-md-8.col-lg-6.col-xl-5.mb-5
      form#edited-profile(action="/profile/edit" method="POST")
         .col
            .form-group
               label.h3(for="email") Email:
               input#email.form-control.col-sm-12(type="email" name="email")
               if (errors && errors.email)
                  small#emailErrorHelp.form-text.text-danger.font-italic #{errors.email.msg}
               else if unavailableEmail
                  small#unavailableEmailHelp.form-text.text-danger.font-italic #{unavailableEmail}
            .form-group
               label.h3(for="password") Nowe hasło:
               input#password.form-control.col-sm-12(type="password" name="password")
               if (errors && errors.password)
                  small#passwordErrorHelp.form-text.text-danger.font-italic #{errors.password.msg}
               else
                  small#passwordHelp.form-text.text-muted.font-italic Hasło musi zawierać 8-25 znaków (liter oraz cyfr)
            .form-group
               label.h3(for="password-confirm") Powtórz nowe hasło:
               input#password-confirm.form-control.col-sm-12(type="password" name="passwordConfirm")
               if (errors && errors.passwordConfirm)
                  small#passwordConfirmErrorHelp.form-text.text-danger.font-italic #{errors.passwordConfirm.msg}
            if dataChangeSuccess
               .alert.alert-success #{dataChangeSuccess}
            button.btn.btn-success.btn-lg.btn-block(type="submit") Zapisz