extends main.pug

block card-header
   h2.text-center.mr-sm-auto.py-2.py-sm-0 Dane profilowe
   a.btn.btn-info.btn-lg.btn-block.my-2.my-sm-0(href="/profile/edit") Edytuj
   a#btn-delete.btn.btn-danger.btn-lg.btn-block.ml-sm-2(href="/profile/remove") Usuń konto

block card-body
   .col-12.col-md-8.col-xl-6.mb-5
      ul.unstyled-list
         li Email: #{email}
         li Nazwa użytkownika: #{username}
         li Data rejestracji: #{dateOfRegistration}

block page-scripts
   script(src="../../js/confirm.js")