doctype html
html
   include includes/head.pug
   body
      include includes/nav.pug
      .d-flex.main-container.align-items-center.justify-content-center
         .col-12.col-sm-10.col-md-8.col-lg-6.col-xl-4.text-center
            .form-container.border.border-dark.rounded.px-3.py-5.my-5
               h1.mb-5 Rejestracja
               form(action="/register" method="POST")
                  .form-group
                     label.h4(for="email") Email:
                     input#email.form-control(type="email" name="email")
                     if (!errors && !error)
                        small#emailHelp.form-text.text-muted.font-italic #{tips.emailTip}
                     if (errors && errors.email)
                        small#emailErrorHelp.form-text.text-danger.font-italic #{errors.email.msg}
                     if (error && error.unavailableEmail)
                        small#unavailableEmailHelp.form-text.text-danger.font-italic #{error.unavailableEmail}
                  .form-group
                     label.h4(for="username") Nazwa użytkownika:
                     input#username.form-control(type="text" name="username")
                     if (!errors && !error)
                        small#usernameHelp.form-text.text-muted.font-italic #{tips.usernameTip}
                     if (errors && errors.username)
                        small#usernameErrorHelp.form-text.text-danger.font-italic #{errors.username.msg}
                     if (error && error.unavailableUsername)
                        small#unavailableUsernameHelp.form-text.text-danger.font-italic #{error.unavailableUsername}
                  .form-group
                     label.h4(for="clubName") Nazwa drużyny:
                     input#clubName.form-control(type="text" name="clubName")
                     if (!errors && !error)
                        small#clubNameHelp.form-text.text-muted.font-italic #{tips.clubNameTip}
                     if (errors && errors.clubName)
                        small#clubNameErrorHelp.form-text.text-danger.font-italic #{errors.clubName.msg}
                     if (error && error.unavailableClubName)
                        small#unavailableClubNameHelp.form-text.text-danger.font-italic #{error.unavailableClubName}
                  .form-group
                     label.h4(for="password") Hasło:
                     input#password.form-control(type="password" name="password")
                     if (!errors && !error)
                        small#passwordHelp.form-text.text-muted.font-italic #{tips.passwordTip}
                     if (errors && errors.password)
                        small#passwordErrorHelp.form-text.text-danger.font-italic #{errors.password.msg}
                  .form-group
                     label.h4(for="passwordConfirm") Powtórz hasło:
                     input#passwordConfirm.form-control(type="password" name="passwordConfirm")
                     if (errors && errors.passwordConfirm)
                        small#passwordConfirmErrorHelp.form-text.text-danger.font-italic #{errors.passwordConfirm.msg}
                  input.btn.btn-primary.btn-lg.btn-block.mt-4(type="submit" value="Załóż konto")
      include includes/foot.pug
      include includes/main-scripts.pug