extends main.pug

block card-header
   h2.text-center.mr-sm-auto.py-2.py-sm-0 Drużyna
   a.btn.btn-info.btn-lg.btn-block(href="/team/newPlayer") Dodaj zawodnika

block card-body
   .row.mb-2
      h3.mx-auto.mx-sm-0.py-2 Zawodnicy z pola
      table.table.table-sm.table-bordered.table-striped.table-responsive
         thead.thead-default
            tr
               th #
               th Zawodnik
               th Pozycja
               th Wiek
               th(data-toggle="tooltip" data-placement="top" title="Skuteczność") SK
               th(data-toggle="tooltip" data-placement="top" title="Ustawienie w ataku") UA
               th(data-toggle="tooltip" data-placement="top" title="Drybling") DR
               th(data-toggle="tooltip" data-placement="top" title="Podania") PO
               th(data-toggle="tooltip" data-placement="top" title="Gra w powietrzu") GP
               th(data-toggle="tooltip" data-placement="top" title="Kondycja") KO
               th(data-toggle="tooltip" data-placement="top" title="Odbieranie piłki") OP
               th(data-toggle="tooltip" data-placement="top" title="Ustawianie w obronie") UO
         tbody
            if players
               - let index = 0;
               each player in players
                  if (player.position !== 'GK')
                     - index++;
                     tr
                        th(scope="row")= index
                        td
                           a(href=`/player/${player._id}`)= `${player.lastName} ${player.firstName.charAt(0)}.`
                        td= player.position
                        td= player.age.years
                        each skill in player.skills
                           if (skill.current && skill.potential)
                              td= `${skill.current}/${skill.potential}`
   .row
      h3.mx-auto.mx-sm-0.py-2 Bramkarze
      table.table.table-sm.table-striped
         thead.thead-default
            tr
               th #
               th Zawodnik
               th Pozycja
               th Wiek
               th(data-toggle="tooltip" data-placement="top" title="Refleks") RE
               th(data-toggle="tooltip" data-placement="top" title="Ustawianie w bramce") UB
               th(data-toggle="tooltip" data-placement="top" title="Gra na przedpolu") GP
               th(data-toggle="tooltip" data-placement="top" title="Opanowanie piłki") OP
               th(data-toggle="tooltip" data-placement="top" title="Organizacja gry") OR
         tbody
            if players
               - let index = 0;
               each player in players
                  if (player.position === 'GK')
                     - index++;
                     tr
                        th(scope="row")= index
                        td
                           a(href=`/player/${player._id}`)= `${player.lastName} ${player.firstName.charAt(0)}.`
                        td= player.position
                        td= player.age.years
                        each skill in player.skills
                           if (skill.current && skill.potential)
                              td= `${skill.current}/${skill.potential}`

block page-scripts
   script(src="../js/tooltip.js")