.main-container {
   min-height: calc(100vh - 142px);
}

.base-container {
   min-height: 50vh;
}

.navbar {
   padding: 0 1rem;
}

.border-sidenav {
   border-color: #ebebeb;
}

.toggler-sidenav {
   border: none;
}

.sidenav-icon {
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.btn-block+.btn-block {
   margin-top: 0;
}

td, .nowrap {
   white-space: nowrap;
}

table th, table td {
   text-align: center;
}

label {
   margin-right: 10px;
}

#generated-player .form-control-plaintext {
   position: relative;
   top: -7px;
}

.custom-select {
   position: relative;
   top: -3px
}

.skill {
   width: 42px;
}

.logo {
   font-size: 2.5rem;
}

.logo img {
   width: 16%;
   transform: scaleX(-1);
   position: relative;
   top: -5px;
}

@media screen and (max-width: 767px) {
   .col-no-gutter {
      padding-left: 0;
      padding-right: 0;
   }
}

@media screen and (min-width: 576px) {
   .btn-block {
      display: inline-block;
      width: initial;
   }
}